<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper" style="max-width: 100%;padding-top: 150px;">

        <div class="form-group" style="max-width: 600px; margin: 0 auto;">
            <form class="form" action="">
                <input class="input form-control" type="text" v-model="firstName" placeholder="first name">
                <input class="input form-control" type="text" v-model="lastName" placeholder="last name">
                <input class="input form-control" type="text" v-model="email" placeholder="email">
                <input class="input form-control" type="text" v-model="phone" placeholder="phone">

                <button class="btn" @click="addGuest">Add Guest</button>
                
                <input class="input form-control" style="margin-top: 20px;" type="text"
                       v-model="firstName"
                       v-if="showGuest" 
                       v-for="(guest, i) in guests"
                       :placeholder="'Guest ' + (i+1)"       
                >

            </form>

            <!-- <p>
                <span>{{firstName}}</span> <br>
                <span>{{lastName}}</span> <br>
                <span>{{email}}</span>
            </p> -->
        </div>
    </div>

    <script>
        let sample = new Vue({
            el: '.wrapper',
            data: {
                email: '',
                firstName: '',
                lastName: '',
                phone: '',
                showGuest: false,
                guests: []
            },
            methods: {
                addGuest(e) {
                    e.preventDefault();
                    this.showGuest = !this.showGuest;

                    this.guests.add
                }
            }
        });
    </script>
    <style>
        .input {
            margin-bottom: 15px;
        }
    </style>
</body>
</html>
